[submodule "3rdparty/hcom/hcom"]
	path = 3rdparty/hcom/hcom
	url = https://szv-y.codehub.huawei.com/ComputingFoundationSoftware/ock-platform/hcom.git
[submodule "3rdparty/spdlog/spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = https://codehub-dg-y.huawei.com/OpenSourceCenter/spdlog.git
	branch = huawei/v1.9.2
[submodule "3rdparty/secure/huawei_secure_c"]
	path = 3rdparty/secure/huawei_secure_c
	url = https://codehub-dg-y.huawei.com/hwsecurec_group/huawei_secure_c.git
