[submodule "3rdparty/secure/huawei_secure_c"]
	path = 3rdparty/secure/huawei_secure_c
	url = https://codehub-dg-y.huawei.com/hwsecurec_group/huawei_secure_c.git
	tag = tag_Huawei_Secure_C_V100R001C01SPC013B001_00001
[submodule "3rdparty/zookeeper/zookeeper"]
	path = 3rdparty/zookeeper/zookeeper
	url = https://szv-open.codehub.huawei.com/OpenSourceCenter/apache/zookeeper.git
	tag = 3.8.1-h3
[submodule "3rdparty/spdlog/spdlog"]
	path = 3rdparty/spdlog/spdlog
	url = https://szv-open.codehub.huawei.com/OpenSourceCenter/gabime/spdlog.git
	tag = v1.12.0-h1
[submodule "3rdparty/io_interceptor/io_interceptor"]
	path = 3rdparty/io_interceptor/io_interceptor
	url = https://szv-y.codehub.huawei.com/ComputingFoundationSoftware/ock-platform/io_interceptor.git
	branch = br_develop_BeiMing_H_24.3.RC1_330
[submodule "3rdparty/hcom/hcom"]
	path = 3rdparty/hcom/hcom
	url = https://szv-y.codehub.huawei.com/ComputingFoundationSoftware/ock-platform/hcom.git
	branch = br_release_BeiMing_I_24.4.0_20240930
[submodule "3rdparty/hseceasy/hseceasy"]
	path = 3rdparty/hseceasy/hseceasy
	url = https://szv-y.codehub.huawei.com/ComputingFoundationSoftware/ock-platform/hseceasy.git
	branch = master
