[submodule "ubsio-boostio/3rdparty/ubs-comm/ubs-comm"]
	path = ubsio-boostio/3rdparty/ubs-comm/ubs-comm
	url = https://atomgit.com/openeuler/ubs-comm.git
	branch = br_noncom_container_20260228
[submodule "ubsio-boostio/3rdparty/libboundscheck/libboundscheck"]
	path = ubsio-boostio/3rdparty/libboundscheck/libboundscheck
	url = https://gitcode.com/openeuler/libboundscheck.git
	tag = v1.1.16
[submodule "ubsio-boostio/3rdparty/prometheus/prometheus"]
	path = ubsio-boostio/3rdparty/prometheus/prometheus
	url = https://gitcode.com/GitHub_Trending/pr/prometheus.git
	tag = v3.7.3
[submodule "ubsio-boostio/3rdparty/spdlog/spdlog"]
	path = ubsio-boostio/3rdparty/spdlog/spdlog
	url = https://gitcode.com/GitHub_Trending/sp/spdlog.git
	tag = v1.15.3
[submodule "ubsio-boostio/3rdparty/zookeeper/zookeeper"]
	path = ubsio-boostio/3rdparty/zookeeper/zookeeper
	url = https://gitcode.com/gh_mirrors/zo/zookeeper.git
	tag = v3.9.3
[submodule "ubsio-boostio/3rdparty/hadoop/hadoop"]
	path = ubsio-boostio/3rdparty/hadoop/hadoop
	url = https://gitcode.com/gh_mirrors/ha/hadoop.git
	tag = rel/release-3.4.0
